<app-alert-success *ngIf="mostrarAlerta" [mensaje]="mensajeAlerta"></app-alert-success>

<div class="bg-white rounded-2xl shadow-lg p-6 max-w-5xl mx-auto mt-10">
  <h3 class="text-xl font-bold text-primary mb-6">Usuarios de la empresa</h3>

  <div class="overflow-x-auto">
    <table class="min-w-full text-sm text-left border border-gray-200 rounded">
      <thead class="bg-background text-secondary-light border-b">
        <tr>
          <th class="p-3">Nombre</th>
          <th class="p-3">Email</th>
          <th class="p-3">Rol</th>
          <th class="p-3 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuariosPaginados" class="border-b hover:bg-gray-50">
          <td class="p-3">{{ user.username }}</td>
          <td class="p-3">{{ user.email }}</td>
          <td class="p-3">{{ user.rol }}</td>
          <td class="p-3 text-center">
            <button (click)="expulsarUsuario(user.id)"
                    class="text-red-600 hover:text-red-800 transition"
                    title="Expulsar usuario">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginador -->
  <app-paginator class="mt-4"
  [total]="usuarios.length"
  [pageSize]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChange)="cambiarPagina($event)">
</app-paginator>

</div>
