footer {
    transition: background-color 0.3s ease;
}

footer:hover {
    background-color: #1b1b1b;
    /* Fondo más oscuro al pasar el mouse */
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: #6BB2A7;
    /* Verde suave al pasar el mouse */
}