nav {
    transition: background-color 0.3s ease;
}

nav:hover {
    background-color: #1b1b1b;
    /* Fondo más oscuro al pasar el mouse */
}

.dropdown-menu {
    display: none;
}

.relative:hover .dropdown-menu {
    display: block;
}